[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BLMEngineInR"]
	path = BLMEngineInR
	url = https://github.com/windwardenv/blmengineinr
